@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
 /*nav button {  
  display:none; 
  }  /* hamburger button does not need to be shown */
body header img .imglay{
    display:inline-flex;
    flex-direction:row;
    justify-content: center;
}
    .hamburger{
   display:none;
}
    .show {
    flex-direction:row;
}
 nav ul {
    display:flex;
    list-style-type:none;
    justify-content: center;
}
 nav ul li {
   clear:both;
   font-size:100%;
}    
 main {
   clear: both;
   font-size:85%;
}
    
/*franklin*/
 .wsinfo{
    margin: auto 100px auto 100px;
    display:flex;
    padding: 10px;
}
    .citylay{
     margin:auto;
    display:grid;
    grid-template-columns: 280px 280px 280px;
    grid-gap:8px;   
}
    .citylay h6{
        display:none;
} 
/*franklin*/
/*gallery*/
.gridlay {
    display:grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
}
/*gallery*/
footer aside {
  flex-direction:row;
  text-align: center;
  justify-content:center;
} 
}
  
