@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
 
header h1 {
    font-size: 250%;
}
header img {
 /* fill the page in the small/phone view */
}
/**//**//**//**//**//*HOME PAGE*//**//**//**//**//**/
.column {
    grid-template-columns: 1fr 1fr 1fr;
}
	
	
/**//**//**//**//**//*EVENT TOURS PAGE*//**//**//**//**//**/
.left{
	margin-right:250px;
	margin-left: 250px;
}
	
/**//**//**//**//**//*SERVICE PAGE *//**//**//**//**//**/  
.servlay{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-right:8%;
	margin-left: 8%;
		
}
.tabledata{
    grid-template-columns: 1fr 1fr 1fr;
	
}    
/**//**//**//**//**//*SERVICE PAGE END*//**//**//**//**//**/	

fieldset{
    margin-left: 30px;
}
main .gridlay {
    grid-template-columns: 350px 350px 350px;
}

footer aside {
  display: flex;
  padding-left: 15px;
}
}