/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
body {
  font-size: 25px;
  font-family: 'Arial', sans-serif;
  color:#174172;
    /* Declare the base font-family - from google font api or other */
}
/*.bodylay{
    display:flex;
    flex-direction:column;
    justify-content: center;
}*/
header, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    color: #174172;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /*background-color: #F9F6E3;*/
}

header {
    background: linear-gradient(#E8E3B8, #F9F6E3);
}
.headerlay{
    flex:1 1 80px;
    flex-direction:column;
    text-align:center;
}
header h1 {
    font-size: 40px;
    display:inline-flex;
    font-family: 'Courgette', cursive;
    justify-content: center;
    line-height: 0.1px;
}
header img {
    max-width: 85px;
    padding-top: 10px;
} /* fill the page in the small/phone view */

header .subheading {
    font-size:15px;
    font-family: 'Arial', sans-serif;
    display:flex;
    justify-content: center;
    line-height: 20px;
}

nav {}
.hamburger{
    
    display:flex;
    justify-content:center;
}
nav button {
    display:block; 
    margin:auto;
}
.hamburger:hover, .hamburger:focus{
    background-color: #F2E0D2;
}
.show {
    display:block;
    padding: 2px;
    margin:auto;
    /*flex-direction:column;
    justify-content:center;*/
}
navigation{
    list-style: none; 
}
.navigation li{
    display:none;
}
.dropdown responsive{
    display:none;
    justify-content: center;
}
nav ul {
    display:none;
    list-style-type:none;
    overflow: hidden;
    background-color: #005857;
}
nav ul li {
    text-align: center;
    
}

nav ul li a {
    font-size: 18px;
    display: block;
    padding: 8px 16px;
    color: #F9F6E3;
    text-decoration: none;
}
nav ul li.active a {
    background-color: #BFEA77; 
    color: #174172;
}
nav ul li a:hover {
    background-color: #BFEA77;
    color:#174172;
   
}
.sidenav{
    display:none;
}

/*.dropbtn{
    display:block;
    margin-left:150px;
    background-color:#FBECDA;
    color:navy;
    padding: 6px;
    font-size: 25px;
    border: 1px solid #174172 ;
    border-radius: 5px;
}
.dropdown{
    margin-left:auto;
    position:relative;
    display:inline-block;

}*/

/*.dropdown-content {
    display: none;
    /*position: absolute;*/
   /* background-color: #f1f1f1;
    min-width: 65px;
    box-shadow: 0px 8px 16px 0px rgba(1,2,2,0.2);
    border-radius: 5px;
    /*z-index: 1;*/
/*}*/
/*
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 12px;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}
*/
/*
.sidenav a {
    background-color: #005857; /* Grey background color */
   /* color: #F9F6E3; /* Black text color */
   /* display: block; /* Make the links appear below each other */
    /*padding: 2px; /* Add some padding */
    /*font-size:20px;
    text-decoration: none;/* Remove underline from links */
    /*text-align: center;
}
/*
.sidenav a:hover {
    background-color: #BFEA77;/* Dark grey background on mouse-over */
    /*color:#174172;
}
/*
.sidenav a.active {
    background-color: #BFEA77; /* Add a green color to the "active/current" link */
   /* color: #174172;
}

*/
main {
    font-size:10pt;
    background: linear-gradient( transparent, #F9F6E3);
}
main h2{
    text-align: center;
    font-size: 40px;
}
main h3{
    font-size:25px;
}


/**//**//**//**//**//*EVENT TOURS PAGE*//**//**//**//**//**/
.left {
	font-size: 23px;
	color:#174172;
	line-height: 1.5;
	padding-right: 20px;
	padding-left: 20px;
}
#boldtext {
	font-size: 25px;
	font-weight: bold;
	color:#C14B20;
	text-align: center;
}
/*form#eventword{
    margin:20px 3%;
}*/
::placeholder { /* from w3cschool Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D1D0B4;
    opacity: 1; /* Firefox */
}

fieldset{
    border-radius:5px;
    margin: 24px 0;
    border: #005857 double 5px;
 }
legend{
    color: #FBECDA;
	text-align: center;
    font-size: 25px;
    margin-left: auto;
	margin-right: auto;
    padding: 1px;
    border: #005857 solid 5px;
    background: linear-gradient( transparent, #005857, transparent);
    border-radius: .4em;
}
lable{
    margin:8px;
}
label span{
    display:block;
    padding-bottom:8px;
    padding-top: 9px;
    text-align: left;
}

label input{
    background-color: #f4f2ef;
    padding:.3em .3em .3em 1em;
    border-radius: 2px;
    background-image: url(../images/ico_validation.png);
    background-repeat: no-repeat;
    background-position: 4px -11px;
}
/*input:focus{
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5) inset;
}*/
input:required{
    background-position: 4px -63px;
}
input:focus:invalid {
    background-position: 4px -113px;
}
input:focus:valid {
    background-color: white;
    background-position: 4px -163px;
}

/**//**//**//**//**//*EVENT TOURS PAGE END *//**//**//**//**//**/



/**//**//**//**//**//*PRODUCT SALES PAGE*//**//**//**//**//**/
#flip, #flipg, #flips,#flipp, #flipo, #flipf{
	font-weight: bold;
	font-size: 26px;
}
#flip img, #flipg img, #flips img,#flipp img{
	border-radius: 5px;
	border: 5px solid #174172;
	box-shadow: 3px 3px 5px darkgray, 5px 5px 4px gray;
}
#flipo img{
	border: 5px solid #C14B20;
	box-shadow: 3px 3px 5px darkgray, 5px 5px 4px gray;
}
#flipf img{
	border: 5px solid #BFEA77;
	box-shadow: 3px 3px 5px darkgray, 5px 5px 4px gray;
}
#panel, #flip, #panelg, #flipg, #flips, #panels, #panelf, #flipf,#panelp, #flipp,#panelo, #flipo {
    text-align: center;
	font-family: 'Aldrich', sans-serif;
	/*border: 5px solid #BFEA77;*/
}

#panel, #panelg, #panels, #panelf, #panelp, #panelo{
	line-height: 1.2;
    display: none;
	font-size: 18px;
}



/**//**//**//**//**//*PRODUCT SALES PAGE END*//**//**//**//**//**/




/**//**//**//**//**//*SERVICE PAGE *//**//**//**//**//**/
.servlay{
	display:block;
	margin::auto:
}
#serv  { 
    position:fixed;
	left: 0px;
    top:0px;
    z-index: -1;
    width:100%;
    height:100%;
    
}
.tabledata{
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding-right:30px;
	padding-left:30px;
}
thead tr th {
	font-family: 'Aldrich', sans-serif;
	font-size: 20px;
	padding: 10px;
	background: linear-gradient(#174172, #2981CC, #174172);
	color: #FBECDA;
	border-radius: 5px;
	text-align: center;
}
td ,th{
	font-family: 'Aldrich', sans-serif;
	font-weight: bold;
	font-size: 17px;
	border-bottom: 2px solid #174172;
	border-right: 2px solid #174172;
	border-left: 2px solid #174172;
	text-align:justify;
	padding: 10px;
}



/**//**//**//**//**//*SERVICE PAGE END*//**//**//**//**//**/


/**//**//**//**//**//*CONTACT PAGE*//**//**//**//**//**/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ABBD56;
    color: #F9F6E3;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
#subject{
    height:200px;
}
/* Add a background color and some padding around the form */
.contactlay {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#info{
    text-align: center;
    font-family: 'Courgette', cursive;
    color:#005857;
    font-size: 15px;
    line-height: 1.5;
}
#map {
    display: block;
    margin: auto;
    border: 2px solid #174172;
    border-radius: 4px;
    
}
/**//**//**//**//**//*CONTACT PAGE END*//**//**//**//**//**/








/*franklin*/
/*.mainlay{
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.mainlay img{
}*/
h6{
  display:none;  
}
.current{
    line-height: 2.5;
}
.frklay img{
    max-width: 85%;
    border-radius: 1rem;
    
    }
.frklay #w_icon, #w_ico, #w_icoa{
    float:inherit;    
    }
.frklay #plac{
    display:none;
}
.frklay #placb{
    display:none;
}
.wsinfo{
    flex-direction: column;
    justify-content: center;
    padding-right:10px;
    padding-left: 10px;
    line-height:1;
    font-size: 18px;
    text-align: justify;   
}
.wsinfo img{
border-radius:1rem;
}
.citylay img{
    max-height: 230px;
}
.wsinfo .citylay p{
    font-size:20px;
    text-align: center;
}
/*#mySidenav.icon{
    display:none;
}*/
/*
.wsinfo h2{
    font-size: 35px;
}
main article p {
    font-size: 15px;
}

main section p {
    font-size: 12px;
}
main b p {
    font-size: 10px;
}
.wsinfo{
    /*display:flex;
    flex-direction: column;*/
    /*line-height:1.3;
    text-align: center;
}

.wsinfo h2{
    font-size: 35px;
}*/
main article p {
    font-size: 16px;
}

main section p {
    font-size: 18px;
}
section.forecast table{
   margin: auto;
   font-size:15px;
}
/*main b p {
    font-size: 350px;
}*/
.town-article{
    display:block;
    line-height: 1.3;
    text-align: justify;
    font-size: 14px;
    
}
.town-article h3{
    font-size:35px;
    text-align: center;
}
.town-article img{
    float: left;
    padding-right: 10px;
    
}

/*franklin*/
/*gallery*/
main .gridlay {
    text-align: left;
    grid-gap: 20px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
}
.gridlay img{
    border-radius: 1rem;
}
.thankslay{
    text-align: center;
    margin: 00;
    font-family: 'Courgette', cursive;
}
/*gallery*/

footer {
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(#F9F6E3, #E8E3B8);
}
footer aside {
  display: flex;
  text-align: center;
  justify-content:center;
}
footer>p{
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
footer a{
  color:#174172;
  text-decoration:none;
}
/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */