/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
body {
  font-size: 25px;
  font-family: 'Arial', sans-serif;
  color:#174172;
    /* Declare the base font-family - from google font api or other */
}
header, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    color: #174172;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

header {
    background: linear-gradient(#E8E3B8, #F9F6E3);
}
.headerlay{
    flex:1 1 80px;
    flex-direction:column;
    text-align:center;
}
header h1 {
    font-size: 40px;
    display:inline-flex;
    font-family: 'Courgette', cursive;
    justify-content: center;
    line-height: 0.1px;
}
header img {
    max-width: 85px;
    padding-top: 10px;
} /* fill the page in the small/phone view */

header .subheading {
    font-size:15px;
    font-family: 'Arial', sans-serif;
    display:flex;
    justify-content: center;
    line-height: 20px;
}

nav {}
.hamburger{
    
    display:flex;
    justify-content:center;
}
nav button {
    display:block; 
    margin:auto;
}
.hamburger:hover, .hamburger:focus{
    background-color: #F2E0D2;
}
.show {
    display:block;
    padding: 2px;
    margin:auto;
}
navigation{
    list-style: none; 
}
.navigation li{
    display:none;
}
.dropdown responsive{
    display:none;
    justify-content: center;
}
nav ul {
    display:none;
    list-style-type:none;
    overflow: hidden;
    background-color: #005857;
}
nav ul li {
    text-align: center;
    
}

nav ul li a {
    font-size: 18px;
    display: block;
    padding: 8px 16px;
    color: #F9F6E3;
    text-decoration: none;
}
nav ul li.active a {
    background-color: #BFEA77; 
    color: #174172;
}
nav ul li a:hover {
    background-color: #BFEA77;
    color:#174172;
   
}
.sidenav{
    display:none;
}



main {
    font-size:18px;
}
main h2{
    text-align: center;
    font-size: 40px;
}
main h3{
    font-size:25px;
}


/**//**//**//**//**//*HOME PAGE*//**//**//**//**//**/



/* Create four equal columns that sits next to each other */
#headhome{
	line-height: 1.5;
	text-align: center;
	font-family: 'Arial', sans-serif;
	
}
.column {
  flex: 95%;
  margin-right:5%;
  margin-left: 5%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  border-radius: 10px;
}

.home {
  position: relative;
  width: 98%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #8B1D03;
}
.home:hover .overlay {
   opacity: 0.8;
}

div a{
  color:white;
  text-decoration:none;
}
.text {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


/**//**//**//**//**//*ADVENTURE TOURS PAGE*//**//**//**//**//**/

.adventurelays{
	display:flex;
	flex-direction: column;
	text-align:center;
	margin-left: 10px;
	margin-right: 10px;
	
}
div.polaroid {
  text-align: center;
  width: 95%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 10px;
  padding-top: 10px;
  font-size:23px;
  color:#C14B20;
  font-family: 'Gloria Hallelujah', cursive;
}
div.polaroid img{
	padding: 10px;
	width:100%;
	
}

div.container {
  text-align: justify;
  padding: 10px 10px;
  font-size: 15px;
  font-family: sans-serif;
  color:#174172;
}
div.description{
	text-align: center;
	font-size:20px;
	font-family: 'Arial', sans-serif;
	color:#34241F;
}

/**//**//**//**//**//*EVENT TOURS PAGE*//**//**//**//**//**/
.left {
	font-size: 20px;
	color:#174172;
	line-height: 1.5;
	padding-right: 5%;
	padding-left: 5%;
}
#boldtext {
	font-size: 25px;
	font-weight: bold;
	color:#C14B20;
	text-align: center;
}
::placeholder { /* from w3cschool Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D1D0B4;
    opacity: 1; /* Firefox */
}

fieldset{
    border-radius:5px;
    margin: 24px 0;
    border: #005857 double 5px;
 }
legend{
    color: #FBECDA;
	text-align: center;
    font-size: 25px;
    margin-left: auto;
	margin-right: auto;
    padding: 5px;
    border: #005857 solid 5px;
    background: linear-gradient( transparent, #005857, transparent);
    border-radius: .4em;
}
lable{
    margin:8px;
}
label span{
    display:block;
    padding-bottom:8px;
    padding-top: 9px;
    text-align: left;
}

label input{
    background-color: #f4f2ef;
    padding:.3em .3em .3em 1em;
    border-radius: 2px;
    background-image: url(../images/ico_validation.png);
    background-repeat: no-repeat;
    background-position: 4px -11px;
}


input:required{
    background-position: 4px -63px;
}
input:focus:invalid {
    background-position: 4px -113px;
}
input:focus:valid {
    background-color: white;
    background-position: 4px -163px;
}

/**//**//**//**//**//*EVENT TOURS PAGE END *//**//**//**//**//**/



/**//**//**//**//**//*PRODUCT SALES PAGE*//**//**//**//**//**/
#flip, #flipg, #flips,#flipp, #flipo, #flipf{
	font-weight: bold;
	font-size: 26px;
}
#flip img, #flipg img, #flips img,#flipp img{
	border-radius: 5px;
	border: 5px solid #174172;
	box-shadow: 3px 3px 5px darkgray, 5px 5px 4px gray;
}
#flipo img{
	border: 5px solid #C14B20;
	box-shadow: 3px 3px 5px darkgray, 5px 5px 4px gray;
}
#flipf img{
	border: 5px solid #BFEA77;
	box-shadow: 3px 3px 5px darkgray, 5px 5px 4px gray;
}
#panel, #flip, #panelg, #flipg, #flips, #panels, #panelf, #flipf,#panelp, #flipp,#panelo, #flipo {
    text-align: center;
	font-family: 'Aldrich', sans-serif;
}

#panel, #panelg, #panels, #panelf, #panelp, #panelo{
	line-height: 1.2;
    display: none;
	font-size: 18px;
}

/**//**//**//**//**//*SERVICE PAGE *//**//**//**//**//**/
.servlay{
	display:block;
	margin:auto;
}
#serv  { 
    position:fixed;
	left: 0px;
    top:0px;
    z-index: -1;
    width:100%;
    height:100%;
    
}
.tabledata{
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding-right:30px;
	padding-left:30px;
}
thead tr th {
	font-family: 'Aldrich', sans-serif;
	font-size: 20px;
	padding: 10px;
	background: linear-gradient(#174172, #2981CC, #174172);
	color: #FBECDA;
	border-radius: 5px;
	text-align: center;
}
th,td{
	border-right: 2px solid #174172;
	border-left: 2px solid #174172;
	border-bottom: 2px solid #174172;
}
td {
	font-family: 'Aldrich', sans-serif;
	font-weight: bold;
	font-size: 17px;
	text-align:justify;
	padding: 10px;
}


/**//**//**//**//**//*CONTACT PAGE*//**//**//**//**//**/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ABBD56;
    color: #F9F6E3;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
#subject{
    height:200px;
}
/* Add a background color and some padding around the form */
.contactlay {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#info{
    text-align: center;
    font-family: 'Courgette', cursive;
    color:#005857;
    font-size: 15px;
    line-height: 1.5;
}
#map {
    display: block;
    margin: auto;
    border: 2px solid #174172;
    border-radius: 4px;
    
}
/**//**//**//**//**//*RESOURCE PAGE*//**//**//**//**//**/
.resolay{
	padding: 10px;
	text-align: center;
}
/**//**//**//**//**//*RESOURCE PAGE END*//**//**//**//**//**/

.thankslay{
    text-align: center;
    margin: 00;
    font-family: 'Courgette', cursive;
}

/*gallery*/

footer {
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(#F9F6E3, #E8E3B8);
}
footer aside {
  display: flex;
  text-align: center;
  justify-content:center;
}
footer>p{
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
footer a{
  color:#174172;
  text-decoration:none;
}
/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */