@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
 /*nav button {  
  display:none; 
  }  /* hamburger button does not need to be shown */
.hamburger{
   display:none}
 nav ul {
    display:flow-root;
    list-style-type:none;
    }
 nav ul li {
   clear:both;
   display: inline-block;
   margin: 0 0;
   font-size:110%;
  }    
 main {
   clear: both;
   font-size:105%;
  }
 /*main figure img { 
   width: 50%; 
  }*/
  main section{
   text-align: center;
   column-count: 3;
   margin-right:150px;
   margin-left:150px;
  }
  section picture img {
   width: 45%;
   margin: 15px;
  }
  section.forecast { 
   display: table;
   margin-right:auto;
   margin-left:auto;
  }  /* show the 10-day forecast with the medium view and up */
  article p {
   column-count:2;
   font-size:65%;
}
  article p.town-article img { 
   width:35%;
   float:left;
   margin:10px;
  }  /* responsive images */

}