/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
body {
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  background-color: #2D7592;
    /* Declare the base font-family - from google font api or other */
}
.bodylay{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    color: #F9F6E3;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

header {}
.headerlay{
    flex:1 1 80px;
    flex-direction:column;
    text-align:center;
}
header h1 {
    font-size: 45px;
    display:flex;
    justify-content: center;
}
header img {} /* fill the page in the small/phone view */

header .subheading {
    font-size: 15pt;
    font-family: 'Shadows Into Light Two', cursive;
    display:flex;
    justify-content: center;
}

nav {}
.hamburger{
    display:flex;
    justify-content:center;
    }
/*nav button {
    display:block; 
    margin:auto;
}*/
.hamburger:hover, .hamburger:focus{
    background-color: #F9F6E3;
}
.show {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
navigation{
    list-style: none; 
}
.navigation li{
    display:none;
}
.dropdown responsive{
    display:none;
    justify-content: center;
}
nav ul {
    display:none;
    overflow: hidden;
    background-color: #CDEBF1;
}
nav ul li {
    text-align: center;
}

nav ul li a {
    display: inline-flex;
    color: #2D7592;
    text-decoration: none;
}
nav ul li.active a {
    background-color: #2D7592;
    color: #FFCB99;
}
nav ul li a:hover {
    background-color: #F9F6E3;
}

main {
    
}
.mainlay{
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    font-size: 18pt;
}
main h2 {
    font-size: 40px;
}
h6{
    display:none;
}
main h3{
    font-size: 35px; 
}
main figure { 
}

main figure img { 
    width: 100%;
}

section {
   /* column-gap: 5px;*/
}
section h3{
    font-size: 30px;
}
section picture img {
}
section.forecast { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:25px;
}
table{
    font-family: 'Shadows Into Light Two', cursive;
    font-size:20px;
}
article h3{
    font-size: 35px;
}
article p {
    font-size: 18px;
    font-family: 'Shadows Into Light Two', cursive;
    display: flex;
    text-align: justify;
    justify-content: center;
    line-height: 1.3;
}
.town-article{  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
 /* fill the page in the small/phone view */
    flex-flow: column;
    justify-content: center;
}
article p.town-article img {
    width:20%;
}  /* responsive images */

footer {
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}
.footerlay{
}
footer aside {
    display: inline-flex;
    text-align: justify; 
}
footer>p{}
/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */