@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
 /*nav button {  
  display:none; 
  }  /* hamburger button does not need to be shown */
body header img .imglay{
    display:inline-flex;
    flex-direction:row;
    justify-content: center;
}
    .hamburger{
   display:none
}
    .show {
    flex-direction:row;
}
 nav ul {
    display:flex;
    list-style-type:none;
    justify-content: center;
    }
 nav ul li {
   clear:both;
   font-size:110%;
  }    
 main {
   clear: both;
   font-size:105%;
  }
 .gridlay {
    display:grid;
    grid-template-columns: 300px 300px;
     }
}
  
